* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 12px;
  background: #f55da5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f55da5), color-stop(50%, #dd7cd2), to(#00ffb3));
  background: linear-gradient(180deg, #f55da5 0%, #dd7cd2 50%, #00ffb3 100%);
}

*::-webkit-scrollbar-thumb {
  background: #f08967;
  background: -webkit-gradient(linear, left bottom, left top, from(#f08967), color-stop(50%, #f7cd6b), to(#dde46e));
  background: linear-gradient(0deg, #f08967 0%, #f7cd6b 50%, #dde46e 100%);
  border-radius: 8px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  height: 100%;
  background: #e6e6e6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: minmax(50px, auto);
      grid-template-rows: minmax(50px, auto);
      grid-template-areas: "ct" "srh";
}

.search {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: srh;
}

.search img {
  width: 100%;
  height: 150px;
  display: block;
  margin: 12px auto;
}

.search .formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search .formulario label, .search .formulario input {
  margin: 5px 8px;
  display: block;
  padding: 0 4px 0 10px;
}

.search .formulario input {
  width: 65%;
  border: none;
  padding: 12px;
  border-radius: 12px;
  font-size: 1em;
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.search .formulario input:focus {
  width: 80%;
  border-bottom: #3a3aba 5px solid;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media screen and (min-width: 500px) {
  .search img {
    height: 260px;
  }
}

.content_end {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ct;
  z-index: 0;
  background: #b3b3b3;
}

@media screen and (min-width: 800px) {
  .content_end {
    position: relative;
  }
}

.barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 8px;
  margin: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.barra a {
  -webkit-filter: drop-shadow(0px 0px 5px #333);
  filter: drop-shadow(0px 0px 5px #333);
  text-decoration: none;
  width: 60px;
  margin: 5px 8px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  color: #000;
}

.barra a li img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.barra a.active {
  color: #fff;
  background: #3a3aba;
}

@media screen and (min-width: 800px) {
  .barra {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .barra a {
    width: 50px;
  }
  .barra a li img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 800px) and (min-width: 1200px) {
  .barra a {
    width: 40px;
  }
  .barra a li img {
    width: 40px;
    height: 40px;
  }
}

.footer_bsq {
  width: 100%;
  height: auto;
  /*500px*/
  margin-top: 20px;
  display: none;
}

@media screen and (min-width: 800px) {
  .footer_bsq {
    display: block;
  }
}

.footer_bsq .contenedor {
  max-width: 1000px;
  padding: 0px 20px;
  margin: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_bsq .contenedor .cajas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.footer_bsq .contenedor .cajas .logo img {
  width: 180px;
  display: block;
  margin: auto;
}

.footer_bsq .contenedor .cajas .logo .datos {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

.footer_bsq .contenedor .cajas ul, .footer_bsq .contenedor .cajas li {
  padding: 2px;
  text-decoration: none;
  list-style: none;
  color: #000;
}

.copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
  margin-bottom: 15px;
}

.copyright p {
  margin-top: 20px;
  color: #7a7a7a;
}

.copyright hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}

.content_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: minmax(50px, auto);
      grid-template-rows: minmax(50px, auto);
}

@media screen and (min-width: 600px) {
  .content_cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 920px) {
  .content_cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.content_cards .tarjetas {
  background-color: #b3b3b3;
  padding: 12px;
  margin: 12px 5px;
  border-radius: 12px;
}

.content_cards .tarjetas .fch_black {
  padding: 8px;
  background-color: #7a7a7a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 12px;
}

.content_cards .tarjetas .fch_black .raw_item {
  width: 5rem;
}

.content_cards .tarjetas .fch_black .raw_item img {
  margin-right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.content_cards .tarjetas .fch_black .tits {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.content_cards .tarjetas .fch_black .tits h1, .content_cards .tarjetas .fch_black .tits h2 {
  font-size: 1.2em;
}

.content_cards .tarjetas p {
  margin: 12px 5px;
  text-align: justify;
}

.content_cards .tarjetas a {
  border: none;
  background-color: #8f1491;
  color: #fff;
  padding: 8px;
  border-radius: 12px;
  margin: 12px 5px;
}
/*# sourceMappingURL=search.css.map */